.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .social-links_vertical {
    position: absolute;
    top: 1rem;
    left: 5%;
  }
  &__left {
    width: 20rem;
    margin-top: 2rem;
  }
  &__middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__right {
    width: 20rem;
  }
  &__cta-section {
  }
  &__main-anouncement {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 10px $mainColor;
    padding: 5px 25px;
    background-color: $gray-blue;
    box-shadow: 0 0 25px 0 $gray-blue;
    display: flex;
    align-items: center;
  }
  &__menu-btn {
    justify-self: flex-end;
  }
  &__nav {
    display: flex;
    justify-content: center;
    width: 90%;
    .nav-list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      margin: 0;
      &__item {
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        margin: 0 1rem;
        transition: all 0.3s ease;
        position: relative;
        &:focus,
        &:hover,
        &:visited,
        &:link,
        &:active {
          text-decoration: none !important;
        }
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0;
          z-index: -1;
          background-color: $mainColor-light;
          transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
      }
      &__item:hover {
        &:before {
          height: 30%;
        }
      }
      &__item-active {
        &:before {
          height: 30%;
        }
      }
    }
  }
}

.logo {
}
