$gray-dark: #1e2225;
$gray-light: #4a4e69;

$mainColor: #351c4d;
$mainColor-light: #765285;
$mainColor-dark: #1b0c27;

$secondaryColor: #5cdb95;

$tertiaryColor: #c6d8af;

$displayFont: "Bree Serif", serif;
$secondaryDisplayFont: "Advent Pro", sans-serif;
$contentFont: "Assistant", sans-serif;
