@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Literata:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "SpaceRanger";
  src: url("./fonts/spaceranger-webfont.woff2") format("woff2"),
    url("./fonts/spaceranger-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpaceRangerLaser";
  src: url("./fonts/spacerangerlaser-webfont.woff2") format("woff2"),
    url("./fonts/spacerangerlaser-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Literata", serif;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 1.8rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: $tertiaryColor;
}

input,
button {
  font-family: unquote("Open Sans");
}

@mixin typo-headline1 {
  font-family: unquote("SpaceRanger");
  font-size: 10rem;
}
@mixin typo-headline2 {
  font-family: unquote("SpaceRanger");
  font-size: 6.3rem;
}
@mixin typo-headline3 {
  font-family: unquote("SpaceRanger");
  font-size: 5rem;
}
@mixin typo-headline4 {
  font-family: unquote("SpaceRanger");
  font-size: 3.6rem;
}
@mixin typo-headline5 {
  font-family: unquote("SpaceRanger");
  font-size: 2.5rem;
}
@mixin typo-headline6 {
  font-family: unquote("SpaceRanger");
  font-size: 2.1rem;
}
@mixin typo-body1 {
  font-family: unquote("Open Sans");
  font-size: 1.7rem;
}
@mixin typo-body2 {
  font-family: unquote("Open Sans");
  font-size: 1.5rem;
}
@mixin typo-subtitle1 {
  font-family: unquote("Open Sans");
  font-size: 1.7rem;
}
@mixin typo-subtitle2 {
  font-family: unquote("Open Sans");
  font-size: 1.5rem;
}
@mixin typo-button {
  font-family: unquote("Open Sans");
  font-size: 1.5rem;
}
@mixin typo-overline {
  font-family: unquote("Open Sans");
  font-size: 1.1rem;
}
@mixin typo-caption {
  font-family: unquote("Open Sans");
  font-size: 1.3rem;
}
