.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
}

.row_2-col {
  width: 100%;
  display: flex;
  .column {
    width: 50%;
  }
}

.column.vertical-center {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
